body{
  background-image: url(../img/spacebackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 90%;
  background-color: darkblue;
}
.nameContainer {
  border: 5px solid black;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: cyan;
  
}
h1, h2{
  text-align: center;
  width:100%;
}

img {
  display: block;
  margin: 25px auto;
  width: 15%;
  border: 5px solid green;
}



.turnoff {
  visibility: hidden;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11pt;
  height: 100px;
  background-color: cyan;
  border: 3px solid black;
  width: 40%;
  margin: auto;
}
.statContainer {
  margin: auto;
  
}
.buttonContainer {
  justify-content: space-between;
  margin: auto;
  
}
span {
  padding: 10px;
  font-size: 14pt;
  font-weight: 400;
}

.movement {
  position: relative;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}
@keyframes move {
  0%   {right:0px; top:0px;}
  25%  {right:100px; top:0px;}
  50%  {right:-100px; top:0px;}
  75%  {right: 100px; top:0px;}
  100% {right:0px; top:0px;}
}


.flip {
  
  position: relative;
  animation-name: move1;
  animation-duration: 1s;
  animation-iteration-count: 1;

}
@keyframes move1 {
  0% {transform: rotate(360deg);}
 

  
}

.feedPet {
  position: relative;
  animation-name: move2;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}
@keyframes move2 {
  0%   {transform: rotate(0deg)}
  25%   {transform: rotate(25deg)}
  50%   {transform: rotate(0deg)}
  75%   {transform: rotate(-25deg)}
  100%   {transform: rotate(0deg)}
  
  
  
}