body{
  background-image: url(../img/spacebackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 90%;
  background-color: darkblue;
}
}
h1, h2{
  text-align: center;
  width:100%;
  color: darkred;
}

img {
  display: block;
  margin: 25px auto;
  width: 40%;
  border: 5px solid green;
}
.copyRight {
  position: absolute;
  left: 10px;
  bottom: 0;
  font-size: 8pt;
}

.imageContainer {
  display: flex;
}


.turnoff {
  visibility: hidden;
}

.gameContainer {
  display: flex;
  justify-content: space-around;
  font-size: 11pt;
}
.statContainer {
  margin: auto;
}
.buttonContainer {
  margin: auto;
}
span {
  background-color: antiquewhite;
  border: 3px solid black;
  padding: 10px;
}

.puppyMove {
  
  position: relative;
  animation-name: move1;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
@keyframes move1 {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left: 200px; top:0px;}
  100% {left:0px; top:0px;}
}

.dogMove {
  
  position: relative;
  animation-name: move2;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}
@keyframes move2 {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left:100px; top:0px;}
  100% {left:0px; top:0px;}
}