body{
  background-image: url(../img/spacebackground.jpg);
  background-color: white; 
}
h1 {
  text-align: center;
  border: 5px solid yellow;
}

img {
  width: 25%;
  border: 5px solid green;
}
.copyRight {
  position: absolute;
  left: 10px;
  bottom: 0;
  font-size: 8pt;
}

.imageContainer {
  display: flex;
  justify-content: center;
  border: 5px solid rgb(128, 0, 96);

}
.puppyContainer .dogContainer {
  display: flex;
  width: 100px;
}
.puppyImg .dogImg {
  justify-content: center;
}

.turnoff {
  /* visibility: hidden; */
}

.gameContainer {
  display: flex;
  justify-items: center;
  border: 5px solid red;
  font-size: 11pt;
}
.statContainer {
  border: 5px solid blue;
}
.buttonContainer {
  border: 5px solid purple;
}